
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Bootstrap basics";
}

<div class="col-lg-12">
    <h1>Bootstrap Basics!</h1>
    <p>
        Bootstrap is good for laying out your web site.
        We won't go in-depth on it too much, but it can make the UI a lot prettier and more organized.
    </p>
    <p>
        I'll add in some assignment stuff here later, maybe
    </p>
</div>