
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Welcome";
}

<div class="col-lg-12">
    <h1>Welcome to your first web site assignment!</h1>
    <p>
        Here are some useful links for you:
        <ul>
            <li>MVC 5, the web framework <a href="http://www.asp.net/mvc/mvc5/">link</a></li>
            <li>JQuery, for "DOM Manipulation": <a href="https://jquery.com/">link</a></li>
            <li>Bootstrap, which handles the CSS stuff: <a href="http://getbootstrap.com/getting-started/">link</a></li>
        </ul>
    </p>
</div>

<div class="col-lg-12">
    <h1>Objectives:</h1>
    <p>
        Here are the important objectives of the assignment:
        <ul>
            <li>
                Learn the easy parts of setting up a web site:
                <ol>
                    <li>Making basic markup</li>
                    <li>Setting up routes</li>
                    <li>Once you can comfortably do the above items, we'll look into using Entity Framework to get data from a database!</li>
                </ol>
            </li>
            <li>
                Learn important JQuery things:
                <ol>
                    <li>Selecting items</li>
                    <li>Manipulating the "DOM" and reacting to "DOM" events</li>
                </ol>
            </li>
        </ul>
    </p>
</div>